@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* qubrar a linha de texto */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a{
	text-decoration: none;
}


body{
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
    /*criando uma variável de css */
--bg-grey-light: #f5f5f5;
/* cores de texto */
  --text-white: #ffffff;
  --text-dark: #142136;

  /* cores de fundo */
  --bg-grey-light: #f5f5f5;
  --bg-white: #ffffff;
  --bg-blue-dark: #142136;
  --bg-indigo: #6366f1;

/*usando a variavel de css */
background-color: var(--bg-grey-light);


}



/* ---------------------------- CABEÇALHO ------------------------------------- */
header{
    padding: 8px;
    background: linear-gradient(90deg, #e9fcff 2%, #4785B2 77%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 90px;
}

.nav span{
    color: #fff;
	padding: 8px 12px;
    font-size: 28px;
    transition: 0.3s;
    border-radius: 5%;
    margin-top: 0.6px;
}

.nav a:link, .nav a:visited{
	color: #fff;
	padding: 8px 12px;
    font-size: 28px;
    transition: 0.3s;
    border-radius: 5%;
}

.nav a:hover{
	color: #00ADA8;
	background: #fff;
    transition: 0.3s;
}

.normal{
    color: #fff;
	background: #00ADA8;
}

.branco{
    color: #00ADA8;
	background: #fff;
}

/* --------------------------------------- RODAPÉ ------------------------------------------ */
footer{
    width: 100%;
    height: auto;
    padding: 2%;
    position: relative;
    bottom: 0px;
    background-color: #205981;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.3) 100%);    
    color: #fff;
    display: grid; 
    place-items: center;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: none;
    color: #00ADA8;
    transition: 0.3s;
}

.copyright{
    font-size: 10px;
    margin-top: 1%;
}



/* ---------------------------------------- DARK MODE ------------------------------------- */

.dark .nav a:link, .dark .nav a:visited{

    color:black;
}

.dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
  
    --bg-grey-light: #142136;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;
  }

  .dark .nav span{
    color: #000;
	padding: 8px 12px;
    font-size: 28px;
    transition: 0.3s;
    border-radius: 5%;
    margin-top: 0.6px;
}


.dark section.module.content {
    padding: 40px 0;
    background: #6E9EBB;
}

.dark section.module p {
    margin-bottom: 15px;
    color:#fff;
}

.dark a:hover {
    color:black;
    /* color: #4785B2; 
    mais claro = #A3BEEB*/

}
    
/* body.dark-mode {
    background-color: #212529;
    color:#899095;
    transition: 0.3;
    transform: matrix();
}*/

.dark header{
    background: linear-gradient(90deg,#547EA1 2%, #607C93 );
}

.dark form .input_group label {
    color: #fff;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.dark .linha {
    width: 80%;
    border: 1px solid #fff;
    margin: 5% auto;
}

.dark .form-box-form1 p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.dark h2 {
    font-size: 2rem;
    color: #fff;
}

.dark .form-box-form1 h2 {
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}

.dark footer{
    background-color: #547EA1;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.3) 100%);
    color: #f5f5f5;
}
.dark .fa-solid, .fas {
    font-weight: 900;
    color:#000;
}

.dark footer a {
    color: #000;
}

.dark .copyright {
    color:#000;
}

.dark  span {
    color: #000;
    
}
/* --------------------------------------- PARALLAX (index) ---------------------------------------- */
.wrapper{
    width: 100%;
    margin: 0 auto; /*uma margem de 0 em cima e embaixo e automática na esquerda e na direita*/
}

main{
    display: block;
    background-color: #fff;
}

.container-parallax{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 15px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: #fffab8;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed; /*cria o efeito do parallax*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-bacground-size: cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;

    /* funções para rodasr em outros navegadores */
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);  
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax-1{
    background-image: url("../img/smile2.jpg");
}

section.module.parallax-2{
    background-image: url("../img/equipe.jpg");
}

section.module.parallax-3{
    background-image: url("../img/lgpd.png");
}

section.module.parallax h1{
    color: #fff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

/* ------------------------------------- LOGIN -------------------------------------------- */
.container_login{
    width: 100%;
    background-color: #fff;
    background-image: url('../img/fundo.png');
    background: cover; /*imagem completa todo o fundo*/
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 1%;

    display: flex;
    align-items: center;
}

.box_img1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_img1 img{
    width: 100%;
}

.login_caixas{
    width: 100%;
    display: flex;

    /* Alinha ao centro horizontalmente */
    justify-content: center;
    /* Alinha ao centro verticalmente */
    align-items: center;
}

.caixa_login_1{
    width: 500px;
    height: 500px;
    background-color: #003b63;
    border-radius: 10%;
    box-shadow: 8px 5px 2px 1px rgba(0, 0, 0, 0.4); /*fazer sombra*/
    display: flex;

    /* Alinha ao centro horizontalmente */
    justify-content: center;
    /* Alinha ao centro verticalmente */
    align-items: center;
}

.caixa_login_2{
    width: 450px;
    height: 450px;
    background-color: #7297b08e;
    border-radius: 10%;
    text-align: center;
    color: #fff;
    padding: 1%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_login_2 #buttonDiv{
    display: flex;
    justify-content: center;
}

/* .caixa_login_2 img{
    width: 30px;
} */

.caixa_login_2 h2{
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 0;
}

.caixa_login_2 p{
    font-size: 30px;
}

.nicolau_login{
    width: 30px;
}





/* --------------------------------------- CADASTRO -----------------------------------------*/
.box{
    display: flex;
    width: 80%;
    margin: 10px auto;
}

.img-box{
    background-color: #4785b2b3;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img{
    width: 100%;
}

.form-box{
    background-color:  #4785b2b3;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 100%;
    border-radius: 0 20px 20px 0;
}

.form-box p{
    font-size: 20px;
    color: #3d3d3d;
}

.form-box p a{
    color: #003b63;
    text-decoration: none;
}

.form-box form{
    margin: 20px 0;
}

form .input_group{
    margin-bottom: 15px;
}

form .input_group input{
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #6c757d;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
}
.input_group input::placeholder{
    color: #fff;
}

form .input_group label{
    color: #3d3d3d;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

form .input_group button{
    width: 100%;
    height: 47px;
    background: #003b63;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

/* --------------------------------- TRIAGEM ---------------------------------------- */
.box-form1{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    background-image: url('../img/fundo.png');
    background: cover; /*imagem completa todo o fundo*/
    background-repeat: no-repeat;
    min-height: 100vh;
}

.form-box-form1{
    background-color:  #4785b2b3;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 90%;
    border-radius: 20px;
    /* margin: 10px; */
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4); 

    margin: 1%;
}

.form-box-form1 h2{
    text-align: center;
    color: #212529;
    font-size: 45px;
    font-weight: bold
}

.form-box-form1 p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.form-select{
    height: 40px;
    background-color: #f4efad;
}

/* --------------------------------- CONTATO ------------------------------------------ */    
.container-contato{
    width: 100%;
    background-color: #fff;
    background-image: url('../img/fundo.png');
    background: cover; /*imagem completa todo o fundo*/
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;

    /* Alinha ao centro horizontalmente */
    justify-content: center;
    /* Alinha ao centro verticalmente */
    align-items: center;
}

.caixa_contato_1{
    width: 550px;
    height: 570px;
    background-color: #003b63;
    border-radius: 10%;
    box-shadow: 8px 5px 2px 1px rgba(0, 0, 0, 0.4); /*fazer sombra*/
    display: flex;

    /* Alinha ao centro horizontalmente */
    justify-content: center;
    /* Alinha ao centro verticalmente */
    align-items: center;

    /* margin: 2%; */
}

.caixa_contato_2{
    width: 500px;
    height: 520px;
    background-color: #7297b08e;
    border-radius: 10%;
    color: #fff;
    padding: 1%;
    text-align: center;
}

.caixa_contato_2

.caixa_contato_2 h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.caixa_contato_3{
    background-color: #ffffffb1;
    width: 80%;
    height: 62%;
    border-radius: 5%;
    margin: auto;
    color: #000;
    justify-content: center;
    padding: 2%;
}

.caixa_contato_3 button{
    margin: 1%;
}

/* ------------------------------------ MURAL --------------------------------------------- */
.container-mural{
    width: 100%;
    /* margin: auto; */
    padding: 2%;

    background-image: url('../img/fundo.png');
    background: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    background-position: center center;
}

.container{
    display: flex !important;
}


.titulo-mural{
    text-align: center;
    font-weight: bold;
    background-color: #003b63;
    border-radius: 30px;
    color: #e9fcff;
    height: 50px;
    align-items: center;
    size: 50px;
    margin-bottom: 1%;
}

.card{
    background: #fffab8;
    margin-bottom: 1%;
    margin: 10px; 
    /* width: 500px; */
    /* margin-inline: auto; */
    /* text-transform: lowercase; */
}

.card-title{
    font-weight: bold;
}

.icon-link{
    color: #fff;
    transition: 0.5s;
}

.icon-link:hover{
    color: #ffee00;
    transition: 0.5s;
    font-size: 1.03rem;
}


/* -------------------------------------- FUNCIONALIDADES DO MURAL-------------------------- */
/* adicionar (create) */
input[type="file"]{
    display: none;
}

.img_ilustrativa{
    padding: 10px;
    width: auto;
    background-color: #003b63;
    color: #FFF !important;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

/* Editar e excluir (update / delete) */
.icones_mural a{
    color: #252525;
    font-size: 20px;
    transition: 0.2s;
    /* padding: 0.5%; */
}

.icones_mural a:hover{
	color: #ffee00;
    /* font-size: 25px; */
    transition: 0.1s;
}

/* ----------------------------------------POP-UP---------------------------------------------- */
.delete{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #252525;
}

.delete:hover{
    color: #ffee00;
    transition: 0.1s;
}

.popup-wrapper{
    display: none;
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.popup{
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
}


.popup-content button{
    border: none;
    background-color: transparent;
}

.btn-confirma{
    background: rgb(94, 187, 0) !important;
    color: #fff;
    font-weight: bold;
    padding: 2%;
    margin: 1%;
}

.popup-close{
    background: darkred !important;
    color: #fff;
    padding: 2%;
    margin: 1%;
}

/* ------------------------------------- HOME PSICÓLOGO ----------------------------------- */
.container-home_pro{
    width: 100%;
    background-color: #fff;
    background-image: url('../img/fundo.png');
    background: cover; /*imagem completa todo o fundo*/
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.box_notificacao{
    width: 40%;
    min-height: 100vh;
    padding: 1%;
    border-right: solid 5px #fff565;
    /* background-color: #fffab8;
    background-image: linear-gradient(180deg, rgba(255, 245, 101, 0) 3%, #fff565 97%); */
}
.notificacao{
    background: #003b63;
    border-radius: 30px;
    color: #fff;
    font-size: 1.5rem;

    height: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 3%;
    margin-bottom: 1%;
}

.notificacao p{
    margin-bottom: 0;
}

.box_exibe_notificacao{
    width: 60%;
    height: 100vh;
    /* background-color: #ffee00; */
    /* padding: 1%; */
    /* background-color:  #4785b2b3 !important; */
    /* backdrop-filter: blur(40px); */
}

.box_exibe_notificacao iframe{
    height: 100vh;
}

/* --------------------------------------- ADMIN ------------------------------------------ */
.container-admin{
    width: 100%;
    min-height: 100vh;
    padding: 3%;
    background-color: #fffbc1;    
}
.container-admin button{
    margin-bottom: 3%;
}

.btn-lg a{
    color: #fff;
}

.btn-warning a{
    color: #000;
}

.ativa_inativa{
    display: flex;
}

.btn-danger{
    margin-right: 1% !important;
}
.btn-warning{
    margin-left: 1% !important;
}

.btn-success{
    margin-left: 1% !important;
}

.btn-success a{
    text-decoration: none;
    color: #fff;
}

/* --------------------------------------- EMOÇÕES --------------------------------------- */
.amarelinho{
    background-color: #faf7c8 !important;
}

.caixa-emojis input[type='radio'] {
    display: none;
}

.selecionar input:focus + label {
    outline: 2px dotted #0099ff;
}

.selecionar input:checked + label {
    outline: 5px solid #0099ff;
    z-index: 100;
}

.reg{
    background: #003b63; 
    margin: 2%;   
}

.pergunta{
    width: 100%;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    padding: 1%;
}


/* --------------------------------------- ESTATÍSTICAS ------------------- */
.container-graphic{
    width: 500px;
    margin: 3%;
    display: flex;
    align-items: center;
    background-color: #7297b099;
    border-radius: 20px;
    padding: 2%;
    /* background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(236, 215, 29, 0.36) 100%); */
}

.pie-chart{
    color: #000;
    font-weight: bold !important;
}

/* ------------------------------------- ENCONTROS ---------------------------------------- */
.caixa_encontro{
    width: 80%;
    height: 100vh;
    margin: 2%;
    padding: 2%;
    background-color: #fffb7ab2;
    border-radius: 20px;
    box-shadow: 8px 5px 2px 1px rgba(0, 0, 0, 0.4); /*fazer sombra*/
}

.btn-secondary{
    background-color: #003b63;
    color: #fff;
}

.a{
    margin-bottom: 1%;
}

/* ------------------------------------- ERROR 404 ---------------------------------------- */
.container-404{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-404 img{
    width: 100vh;
}

/* ---------------------------------------- DARK MODE ------------------------------------- */

.dark .nav a:link, .dark .nav a:visited{
    color:black;
}

.dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
  
    --bg-grey-light: #142136;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;
}

  .dark .nav span{
    color: #000;
    padding: 8px 12px;
    font-size: 28px;
    transition: 0.3s;
    border-radius: 5%;
    margin-top: 0.6px;
}


.dark section.module.content {
    padding: 40px 0;
    background: #6E9EBB;
}

.dark section.module.content i{
    color:#fff;
}


.dark section.module p {
    margin-bottom: 15px;
    color:#fff;
}

.dark a:hover {
    color:black;
    /* color: #4785B2; 
    mais claro = #A3BEEB*/

}
    
/* body.dark-mode {
    background-color: #212529;
    color:#899095;
    transition: 0.3;
    transform: matrix();
}*/

.dark header{
    background: linear-gradient(90deg,#426b8c 2%, #37678f );
}

.dark form .input_group label {
    color: #fff;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.dark .linha {
    width: 80%;
    border: 1px solid #fff;
    margin: 5% auto;
}

.dark .form-box-form1 p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.dark h2, h5{
    font-size: 1.5rem;
    color: #fff;
}

.dark .form-box-form1 h2 {
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
}

.dark footer{
    background-color: #547EA1;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.3) 100%);
    color: #f5f5f5;
}
.dark .fa-solid, .fas{
    font-weight: 900;
    color:#000;
}

.dark footer a{
    color: #000;
}

.dark .copyright{
    color:#000;
}

.dark  span{
    color: #000;
}

.dark .container-mural{
    width: 100%;
    padding: 2%;

    background-image: url('../img/fundo5.png');
    background: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    background-position: center center;
}

.dark .container-contato{
    background-image: url('../img/fundo5.png');
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    /* background: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.dark .card.artigo{
    background-color: #37678f;
    color: #e6e6e6;
}

.dark .card.artigo a{
    color: #e6e6e6;
}
.dark .card.artigo a:hover{
    color: #FFF34F;
}

.dark .icones_mural.fa-solid i{
    color: #e6e6e6;
    /* font-size: 20px;
    transition: 0.2s; */
}

/* .dark .icones_mural a:hover{
	color: #FFF34F;
} */
/* -----------------------------------------GENÉRICOS-------------------------------------- */
.cursor_blocked{
    cursor: not-allowed !important;
}

.linha{
    width: 80%;
    border: 1px solid #2f2d2d;
    margin: 5% auto;
}

.linha-branca{
    width: 80%;
    border: 1px solid #fff;
    margin: 5% auto;
}

.icones-padrao{
    padding: 5px;
    color: #fff;
    font-size: 30px;
    transition: 0.4s;
}

.icones-padrao button{
    border: none;
    background-color: transparent;
    padding: 5px;
    color: #fff;
    font-size: 30px;
    transition: 0.4s;
}

.icones-padrao button:hover{
    color: #000;
}

.icones-padrao:hover{
	color: #FFF34F;
    font-size: 35px;
    transition: 0.2s;
}

.pagina_vazia {
    width: 100%;
    background-color: #fff;
    background-image: url('../img/fundo.png');
    background: cover; /*imagem completa todo o fundo*/
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 2%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.input_group a{
    color: #fff;
}

/* ------------------------------------RESPONSIVIDADE--------------------------------- */
/* Exemplo de uma Media Query para telas menores que 768px (como dispositivos móveis) */
@media screen and (max-width: 1000px) {
    /* estilos para telas menores */
    .secao-ocultar {
        display: none;
    }

    .centralizado{
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* ---------------------------------------login */
    .caixa_login_1{
        width: 300px;
        height: 300px;
    }
    
    .caixa_login_2{
        width: 250px;
        height: 250px;
    }

    .caixa_login_2 h2{
        font-size: 3rem;
    }

    .caixa_login_2 img{
        width: 20px;
    }
    
    .caixa_login_2 p{
        font-size: 20px;
    }
/* --------------------------------------contato */
    .caixa_contato_1 {
        width: 300px;
        height: 540px;
    }

    .caixa_contato_2 {
        width: 290px;
        height: 520px;
    }

/* ---------------------------------------cadastro */
    .img-box{
        display: none;
    }
    .box{
        min-height: 100vh;
        width: 100%;
        min-height: 100%;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
    .w50{
        width: 100%;
        padding: 0;
    }

    .form-box-form1{
        width: 100%;
    }
}

/* Exemplo de uma Media Query para telas maiores que 768px (como tablets e desktops) */
@media screen and (min-width: 1001px) {
    /* estilos para telas maiores */
    .caixa_login_1{
        width: 400px;
        height: 400px;
        margin: auto;
    }
    
    .caixa_login_2{
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    /* cabeçalho */
    header img{
        width: 40px;
    }
    
    .nav span{
        font-size: 15px;
    }
    
    .nav a:link, .nav a:visited{
        font-size: 15px;
    }

    .icones-padrao{
        font-size: 15px;
    }

    .popup-content button{
        border: none;
        background-color: transparent;
    }

    .btn-confirma{
        background: rgb(94, 187, 0) !important;
        color: #fff;
        font-weight: bold;
        padding: 2%;
        margin: 1%;
        /* font-size: 50px; */
    }

    .popup-close{
        background: darkred !important;
        color: #fff;
        padding: 2%;
        margin: 1%;
    }

    .error{
        color: red;
        font-weight: bold;
    }

    .icones-padrao button{
        font-size: 15px;
    }
}
