@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

header{
    padding: 10px;
    background: #B6E4EB;
    background: linear-gradient(90deg, #B6E4EB 2%, #4785B2 77%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 110px;
}

footer{
    height: 100px;
    background: #B6E4EB;
    background: linear-gradient(90deg, #107282 2%, #4785B2 77%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
	text-decoration: none;
}

/* ------------------------------------------------------------------------------- */

#mae{
    display: flex;
    padding: 1%;
    justify-content: center;
    align-content: center;
}

.conta{
    padding: 20px;
    color: #fff;
    font-size: 40px;
    transition: 0.3s;
}

.conta:hover{
	color: #FFF34F;
    font-size: 50px;
    transition: 0.3s;
}

.nav a:link, .nav a:visited{
	color: #fff;
	padding: 8px 12px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 5%;
}

.nav a:hover{
	color: #00ADA8;
	background: #fff;
    transition: 0.3s;
}

.texto{
    width: 50%;
    padding: 2%;
    margin-right: 1%;
    margin-left: 1%;
    text-align: justify;
    background-color: #B6E4EB;
    border-radius: 5%;
    border: 5px solid #61b0bc;
    box-shadow: 7px 7px #61b0bc;
}

.texto h1{
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 2.2em;
}

.texto p{
    padding-top: 1%;
}

.grifa{
    background-color: #4785B2;
    height: 1%;
    margin-bottom: 2%;
}